annotated-types
anyio
bcrypt
cffi
click
colorama
cryptography
docx2txt
ecdsa
et_xmlfile
fastapi
fuzzywuzzy
greenlet
h11
idna
lxml
openpyxl
passlib
pyasn1
pycparser
pydantic
pydantic_core
python-docx
python-dotenv
python-jose
python-multipart
rsa
six
sniffio
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
pydantic-settings
PyJWT
